#root {
  max-width: 1280px;
  /*margin: 0 auto; */
  /*padding: 2rem;*/
/*  text-align: center;*/ 
}

.container{
  padding: 0;
}


body{
  background-color: rgb(39, 39, 39);
}

::-webkit-scrollbar {display:none;}

.App{
  min-width: 350px;
  min-height: 550px;
  max-width: 350px;
  max-height: 550px;

}

.nav{
  background-color: rgb(37, 34, 34);
  
}

.nav.nav-tabs .nav-link {
  background-color: rgb(37, 34, 34);
  color: whitesmoke;
  
}

.nav.nav-tabs .nav-link:active {
  background-color: rgb(75, 42, 42);
  color: whitesmoke; 
}


.divCombat, .divSkills, .divEdit{
  margin-top: 24px;
  background-color: rgb(39, 39, 39);
  padding-top: 20px;
  padding-left: 2px;
  color: whitesmoke;

}


.divWeaponBtns, .divSpellBtns{
  background-color: rgb(39, 39, 39);
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
  gap: 5px;
}

.divLblBtnCombat{
  display: flex;
  flex: 1 0 100%;
  gap: 5px;

  align-items: center;
  
}

.btnCombat
{
  /*min-width: 75px;*/
  margin: 0;  
  font-weight: 500;
  font-size: 1rem;
}

.lblCombat{
  /*min-width: 50px;*/
  margin: 0;
  font-size: 1rem;
}

.divWeaponEdits, .divSpellEdits{
display: flex;
flex-direction: column;
gap: 24px;
}

.formWeapon{

  display: flex;
  flex: 1 0 100%;
  gap: 5px;

  align-items: center;
  flex-wrap: wrap;
}

h4{
  color: rgb(184, 184, 184);
}

.accordion-button:not(.collapsed) {
  color: #ffffff;
  background-color: rgb(56, 39, 39);
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button{
  color: #ffffff;
  background-color: rgb(39, 39, 39);
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-body{
  background-color: rgb(39, 39, 39);
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
  color: whitesmoke;
}

.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}


.divSkillEditField{
  display: table;
  width: 300px;
}

.divSkillEditField .formSkill{
  display: table-row;

}

.divSkillEditField .formSkill input, .divSkillEditField .formSkill label{
  display: table-cell;
}

.divSkillEditField .formSkill label{
  min-width: 125px;
}

.divSaveBtns, .divSkillBtns{
  display: flex;
  flex-wrap: wrap;
}

