#root {
  max-width: 1280px;
  /*margin: 0 auto; */
  /*padding: 2rem;*/
/*  text-align: center;*/ 
}


.App{
  min-width: 350px;
  min-height: 550px;
  max-width: 350px;
  max-height: 550px;
}

.nav{
  background-color: rgb(39, 39, 39);
  
}

.nav.nav-tabs .nav-link {
  background-color: rgb(39, 39, 39);
  color: whitesmoke;
}

.nav.nav-tabs .nav-link.active {
  background-color: rgb(56, 56, 56);
  color: whitesmoke;
}
